In [2]:
%load_ext autoreload
%autoreload 2

from utils import load_data

In [3]:
df = load_data(how='json')
df.head()

,description,duration,location,reported_at,shape,sighted_at
0,"Man repts. witnessing &quot;flash, followed by...",,"Iowa City, IA",19951009,,19951009
1,"Man on Hwy 43 SW of Milwaukee sees large, bri...",2 min.,"Milwaukee, WI",19951011,,19951010
2,Telephoned Report:CA woman visiting daughter w...,,"Shelton, WA",19950103,,19950101
3,Man repts. son&apos;s bizarre sighting of smal...,2 min.,"Columbia, MO",19950510,,19950510
4,Anonymous caller repts. sighting 4 ufo&apos;s ...,,"Seattle, WA",19950614,,19950611

In [4]:
df.shape

(61041, 6)