In [1]:
%load_ext autoreload
%autoreload 2

from utils import load_data

In [2]:
df = load_data()
df.head()

,sighted_at,reported_at,location,duration,shape,description
0,1995-10-09,1995-10-09,"Iowa City, IA",NaN,NaN,"Man repts. witnessing &quot;flash, followed by..."
1,1995-10-10,1995-10-11,"Milwaukee, WI",2 min.,NaN,"Man on Hwy 43 SW of Milwaukee sees large, bri..."
2,1995-01-01,1995-01-03,"Shelton, WA",NaN,NaN,Telephoned Report:CA woman visiting daughter w...
3,1995-05-10,1995-05-10,"Columbia, MO",2 min.,NaN,Man repts. son&apos;s bizarre sighting of smal...
4,1995-06-11,1995-06-14,"Seattle, WA",NaN,NaN,Anonymous caller repts. sighting 4 ufo&apos;s ...

In [3]:
df.shape

(61067, 6)