In [57]:
%load_ext autoreload
%autoreload 2

import utils
from utils import load_ufo_data

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
df = load_ufo_data()
df.head()

,sighted_at,reported_at,location,duration,shape,description
0,1995-10-09,1995-10-09,"Iowa City, IA",NaN,NaN,"Man repts. witnessing &quot;flash, followed by..."
1,1995-10-10,1995-10-11,"Milwaukee, WI",2 min.,NaN,"Man on Hwy 43 SW of Milwaukee sees large, bri..."
2,1995-01-01,1995-01-03,"Shelton, WA",NaN,NaN,Telephoned Report:CA woman visiting daughter w...
3,1995-05-10,1995-05-10,"Columbia, MO",2 min.,NaN,Man repts. son&apos;s bizarre sighting of smal...
4,1995-06-11,1995-06-14,"Seattle, WA",NaN,NaN,Anonymous caller repts. sighting 4 ufo&apos;s ...

In [20]:
df.shape

(61067, 6)

In [75]:
from utils import split_location

v = split_location(df)
v.head()

,sighted_at,reported_at,location,duration,shape,description,municipality,state,is_usa
0,1995-10-09,1995-10-09,"Iowa City, IA",NaN,NaN,"Man repts. witnessing &quot;flash, followed by...",iowa city,IA,True
1,1995-10-10,1995-10-11,"Milwaukee, WI",2 min.,NaN,"Man on Hwy 43 SW of Milwaukee sees large, bri...",milwaukee,WI,True
2,1995-01-01,1995-01-03,"Shelton, WA",NaN,NaN,Telephoned Report:CA woman visiting daughter w...,shelton,WA,True
3,1995-05-10,1995-05-10,"Columbia, MO",2 min.,NaN,Man repts. son&apos;s bizarre sighting of smal...,columbia,MO,True
4,1995-06-11,1995-06-14,"Seattle, WA",NaN,NaN,Anonymous caller repts. sighting 4 ufo&apos;s ...,seattle,WA,True

In [45]:
v.is_usa.sum()

52086

In [63]:
unique_mun = v.loc[v.is_usa, ['municipality', 'state']].apply(', '.join, axis=1) 
unique_mun = unique_mun.unique().tolist()
len(unique_mun)

15333

In [66]:
def chunks(l, n): # Ned Batchelder's `chunks` function
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n):
        yield l[i:i + n]

splits = list(chunks(unique_mun, len(unique_mun) // 5 ))

In [67]:
for i, s in enumerate(splits):
    with open('Data/mun_{}.txt'.format(i) ,'w') as f:
        f.write('\r\n'.join(s))

In [69]:
from utils import save_data
save_data(v, 'Data/ufo_awesome_modified.csv')

In [72]:
v2 = pd.read_csv('Data/ufo_awesome_modified.csv', index_col=[0])
v2.head()

,Unnamed: 0,sighted_at,reported_at,location,duration,shape,description,municipality,state,is_usa
0,0,1995-10-09,1995-10-09,"Iowa City, IA",NaN,NaN,"Man repts. witnessing &quot;flash, followed by...",iowa city,IA,True
1,1,1995-10-10,1995-10-11,"Milwaukee, WI",2 min.,NaN,"Man on Hwy 43 SW of Milwaukee sees large, bri...",milwaukee,WI,True
2,2,1995-01-01,1995-01-03,"Shelton, WA",NaN,NaN,Telephoned Report:CA woman visiting daughter w...,shelton,WA,True
3,3,1995-05-10,1995-05-10,"Columbia, MO",2 min.,NaN,Man repts. son&apos;s bizarre sighting of smal...,columbia,MO,True
4,4,1995-06-11,1995-06-14,"Seattle, WA",NaN,NaN,Anonymous caller repts. sighting 4 ufo&apos;s ...,seattle,WA,True

In [ ]:
import pyodbc
conn_str = (
    r'DRIVER={Driver do Microsoft Access (*.mdb)};'
    r'sadc_2015_state_a_m.dat;'
    )
cnxn = pyodbc.connect(conn_str)
crsr = cnxn.cursor()
for table_info in crsr.tables(tableType='TABLE'):
    print(table_info.table_name)
SQL = 'SELECT top 5 * FROM SADCQ;'
rows = crsr.execute(SQL).fetchall()
for row in rows:
	print (row)
crsr.close()
cnxn.close()